* {
	float: none;
	position: static;
}

ul {
  list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
.main{
  background-color: antiquewhite;
  height: 100vh;
}

/* @media (max-width: 544px) */
/* .col-xs-10 {
  width: 83.333333%;
} */

@media (max-width: 544px){
  .container{
    width: 80%;
  }

  .search-artist-button{
    height: 20px;
  }
}

a:link, a:visited, a:hover, a:active {
  color:black;
}



a:link, a:visited, a:hover, a:active {
  color:black;
}
/* select_location, current_locationの共通部分 */
.location-comment-form{
  width: 100%;
  height: 10vh;
  margin-bottom: 15px
}
.location-emotion-form{
  width: 100%;
  height: 5vh;
  margin: 15px 0;
}
.location-submit-button{
  width: 100%;
  height: 5vh;
}

/* select_location */
.select-location-map{
  width: 100%;
  height: 40vh;
}
.select-location-date-form{
  width: 100%;
  margin-bottom: 20px;
}
.select-location{
  display: inline-block;
  float: left;
  margin: 10px;
  text-align: center;
}

/* current_location */
.current-location-map{
  width: 100%;
  height: 45vh;
}
.current-location{
  display: inline-block;
  float: left;
  margin: 10px;
  text-align: center;
}

/* edit_map */
.edit-comment-form{
  width: 100%;
  height: 10vh;
  margin-bottom: 15px
}
.edit-emotion-form{
  width: 100%;
  height: 5vh;
  margin-bottom: 10px;
}
.edit-about-form{
  width: 100%;
  height: 5vh;
  margin-bottom: 10px;
}
.edit-date-form{
  width: 100%;
  margin: 10px 0;
}
.edit-private-form{
  text-align: center;
}

.index-map{
  width: 100%;
  height: 65vh;
}

.input-period{
  width: 118px;
}

/* profile */
.profile-map{
  width: 100%;
  height: 30vh;
}
.profile-nickname{
  display: block;
}
.profile-follower{
  display: block;
  margin-top: 60px;
}
.profile-intro{
  display: block;

}
/*menu*/
.menu{
  height: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  z-index: 99;
}
.menu__line{
  background: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition:transform .3s;
  width: 100%;
}
.menu__line--bottom{
  bottom: 0;
}
.menu__line--top.active{
  top: 4px;
  transform: rotate(45deg);
}
.menu__line--bottom.active{
  bottom: 6px;
  transform: rotate(135deg);
}
/*gnav*/
.gnav{
  background: #fafafa;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}
.gnav__wrap{
  display: flex;
  width: 85%;
  height: 100%;
  margin: auto;
  position: absolute;
}
.gnav__menu__item{
  margin: 3rem 0;
}
.gnav__menu__item a{
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 2.5rem;
  text-decoration: none;
  transition: .2s;
}
.gnav__menu__item a:hover{
  color: #337ab7;
}

.user-infomation {
  margin :10px;
}

.nickname{
  font-size: 28px;
}

.user-follow{
  margin: 10px;
}
#nickname{
  font-size: 28px;
  margin: 3px;
  text-align: center;
}

#user-id{
  font-size: 10px;
  color: gray;
  text-align: right;
}

.cant-search{
  margin: 10px;
}

#follower p a span{
  margin-right: 5px;
  font-family: boid;
}

.panel{
  padding: 15px;
  text-align: center;
  color: rgb(183, 182, 182);
}

/* create_memory_emotion */
.form-emotion{
  text-align: center;
  width: 100px;
  float: left;
  margin: 15px;
  color: rgb(183, 182, 182);
}

/* create_memory_confirm */
.panel-memory-data{
  text-align: center;
  margin: 15px;
  color: rgb(182,182,182);
}
.private-form{
  text-align: center;
  margin: 10px;
  color: rgb(182,182,182);
}

/* search */
.artist-table{
  padding-bottom: 40px;
  color: white;
}

/* makeplaylist */
.playlist-form{
  padding-bottom: 60px;
}

/* index */
.index-track-box{
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  /* background-color: rgb(183, 182, 182); */
  /* background-color: rgb(63, 212, 152); */
  /* color: white; */
  display: flex;
}
.index-spotify-track{
  /* display: inline-block; */
  float: left;
}
.index-latest-track-table{
  padding-bottom: 45px;
  background-color: antiquewhite;
}
.index-display-emotion{
  /* display: inline-block; */
  float: right;
  width: 20%;
  text-align: center;
}
.index-display-about{
  display: inline-block;
  /* margin-left: 10px;
  margin-top: 15px; */
}
.index-songlocation-info{
  display: inline-block;
  margin-left: 10px;
  width: 70%;
}
.index-panel-latest-track{
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(253, 198, 97);
  width: 80%;
  border-radius: 10px;
  font-weight: bold;
}
.index-map{
  position: fixed;
}

.panel-artist-name.panel-track-name.panel-user-name.display-about{
  color: #606060;
}


.panel-user-name{
  float: left;
  width: 60%;
  overflow: hidden;
  height: 20px;
  margin-right: 5px;
}
.panel-track-name{
  float: left;
  width: 100%;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}
.panel-artist-name{
  float: left;
  width: 100%;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  font-size: 12px;
}

.like {
  border: none;
  outline: none;
  background: transparent;
}



.appname  {
 color: #f5a689; 
}

/* profile */
.profile-info{
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(183, 182, 182);
}
.profile-track-box{
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(183, 182, 182);
  /* color: white; */
  height: 100px;
}
.profile-spotify-track{
  /* display: inline-block; */
  float: left;
}
.profile-latest-track-table{
  padding-bottom: 45px;
}
.profile-display-emotion{
  display: inline-block;
}
.profile-display-about{
  display: inline-block;
  margin-left: 10px;
}
.profile-songlocation-info{
  display: inline-block;
  margin-left: 10px;
  width: 73%;
}
.profile-panel-latest-track{
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(253, 198, 97);
  width: 80%;
  border-radius: 10px;
  font-weight: bold;
}
.profile-panel-search{
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px;
  background-color: rgb(183, 182, 182);
  width: 80%;
  border-radius: 10px;
  font-weight: bold;
}

.profile-latest-track-table{
  background-color: antiquewhite;
}

.profile-panel-track-name{
  float: left;
  width: 55%;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}
.profile-panel-artist-name{
  float: left;
  width: 35%;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  font-size: 12px;
}
.profile-form-search{
  margin-left: 10px;
  float: left;
  margin-bottom: 10px;
}

/* show_songlocation */
.show-songlocation-info{
  margin: 10px;
  padding: 20px;
  background-color: rgb(183, 182, 182);
  border-radius: 15px;
}
.show-songlocation-display-emotion{
  text-align: center;
}
.emotion-name{
  font-weight: bold;
}
.show-songlocation-comment{
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(196, 196, 196);
}


/* layout */
footer{
  background-color: rgb(44, 44, 44);
}