* {
	float: none;
	position: static;
}

ul {
  list-style: none;
}


img {
	max-width: 100%;
	height: auto;
}


/* @media (max-width: 544px) */
/* .col-xs-10 {
  width: 83.333333%;
} */

@media (max-width: 544px){
  .container{
    width: 80%;
  }

  .search-artist-button{
    height: 20px;
  }
}

a:link, a:visited, a:hover, a:active {
  color:black;
}



a:link, a:visited, a:hover, a:active {
  color:black;
}
/* select_location, current_locationの共通部分 */
.location-comment-form{
  width: 100%;
  height: 10vh;
  margin-bottom: 15px
}
.location-emotion-form{
  width: 100%;
  height: 5vh;
  margin: 15px 0;
}
.location-submit-button{
  width: 100%;
  height: 5vh;
}

/* select_location */
.select-location-map{
  width: 100%;
  height: 40vh;
}
.select-location-date-form{
  width: 100%;
  margin-bottom: 20px;
}
.select-location{
  display: inline-block;
  float: left;
  margin: 10px;
  text-align: center;
}

/* current_location */
.current-location-map{
  width: 100%;
  height: 45vh;
}
.current-location{
  display: inline-block;
  float: left;
  margin: 10px;
  text-align: center;
}

/* edit_map */
.edit-comment-form{
  width: 100%;
  height: 10vh;
  margin-bottom: 15px
}
.edit-emotion-form{
  width: 100%;
  height: 5vh;
  margin-bottom: 10px;
}
.edit-about-form{
  width: 100%;
  height: 5vh;
  margin-bottom: 10px;
}
.edit-date-form{
  width: 100%;
  margin: 10px 0;
}
.edit-private-form{
  text-align: center;
}

.index-map{
  width: 100%;
  height: 45vh;
}

.input-period{
  width: 118px;
}

/* profile */
.profile-map{
  width: 100%;
  height: 30vh;
}

/*menu*/
.menu{
  height: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  z-index: 99;
}
.menu__line{
  background: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition:transform .3s;
  width: 100%;
}
.menu__line--bottom{
  bottom: 0;
}
.menu__line--top.active{
  top: 4px;
  transform: rotate(45deg);
}
.menu__line--bottom.active{
  bottom: 6px;
  transform: rotate(135deg);
}
/*gnav*/
.gnav{
  background: #fafafa;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}
.gnav__wrap{
  display: flex;
  width: 85%;
  height: 100%;
  margin: auto;
  position: absolute;
}
.gnav__menu__item{
  margin: 3rem 0;
}
.gnav__menu__item a{
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 2.5rem;
  text-decoration: none;
  transition: .2s;
}
.gnav__menu__item a:hover{
  color: #337ab7;
}

.user-infomation {
  margin :10px;
}

.nickname{
  font-size: 28px;
}

.user-follow{
  margin: 10px;
}
#nickname{
  font-size: 28px;
  margin: 3px;
  text-align: center;
}

#user-id{
  font-size: 10px;
  color: gray;
  text-align: right;
}

.cant-search{
  margin: 10px;
}

#follower p a span{
  margin-right: 5px;
  font-family: boid;
}

.panel{
  padding: 15px;
  text-align: center;
}

/* create_memory_emotion */
.form-emotion{
  text-align: center;
  width: 100px;
  float: left;
  margin: 15px;
}

/* create_memory_confirm */
.panel-memory-data{
  text-align: center;
  margin: 15px;
}
.display-emotion{

}
.private-form{
  text-align: center;
  margin: 10px
}

/* search */
.artist-table{
  padding-bottom: 40px;
}

/* makeplaylist */
.playlist-form{
  padding-bottom: 60px;
}