{% extends "layout.html" %}

{% block title %}
  Map
{% endblock %}

{% block main %}
  <h1>Adding maker</h1>
  
    <input type="date" id="date" name="date" value="2018-07-22" min="2000-01-01" max="2021-12-31" required>
    <p>
      <select name="emotion" id = "emotion" required>
        <option value="">--感情を選んでください--</option>
        <option value="嬉しい">嬉しい</option>
        <option value="楽しい">楽しい</option>
        <option value="落ち着き">落ち着き</option>
        <option value="悲しい">悲しい</option>
      </select>
    </p>
    <label for="comment"></label>
    <textarea id="comment" name="comment" placeholder="今の気持ち、出来事を任意で入力してください！" style="margin: 0px; width: 346px; height: 95px;"></textarea>            
    <input type="button" value="この場所に曲を追加する" id = "adding" >
      

  <style>
    #map{
      height: 900px;
      width: 800px;
      margin: 0 auto;
    }
  </style>
    
  <div id="map"></div>
    
 <script async defer src="{{GOOGLEMAPURL}}&callback=initMap"></script>
  <script>
  
// 地図関連
let map;
let mainMarker;
let marker =[];
let infoWindow = [];

function initMap() {
  // DB代わりに配列を作成してデータを入れた。
  let SongData = [{'lat':'35.681236', 'lng':'139.767125',  'date':'2020/3/9', 'artist':'KOBUKURO', 'track':'桜', 'image':'https://i.scdn.co/image/ab67616d00004851584f8b783934669d26a7891f' ,'link':'https://open.spotify.com/track/5Hi4IAtdFZzg6IfAVMd6lZ'},
                    {'lat':'35.665498', 'lng':'139.75964',  'date':'2019/9/1', 'artist':'Daoko, Kenshi Yonezu', 'track':'打上花火', 'image':'https://i.scdn.co/image/ab67616d00004851e7f0b1cfcf4da8333f7644aa','link':'https://open.spotify.com/track/4IouQaO9GkaHC7AtMErdSa'},
                    {'lat':'35.675069', 'lng':'139.763328',  'date':'2021/12/24', 'artist':'back number', 'track':'クリスマスソング', 'image':'https://i.scdn.co/image/ab67616d0000485159a14a1d53eb5610f84c8382','link':'https://open.spotify.com/track/5P8ZvBQoCrujjNcLAxO3Su'},
                    ];

  // 地図表示
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: {lat: 35.665498, lng: 139.75964},
    //   既存のマーカーがあるとごちゃごちゃするから消す
      styles: [{
		featureType: 'poi',
		stylers: [
			{ visibility: 'off' }
		]
	},{
		featureType: 'road',
		elementType: 'labels',
        stylers: [
			{ visibility: 'off' }
		]
	},
]
  });

  // 一つだけピンを立てる
  var marker = new google.maps.Marker({
    position: {lat: 35.678655, lng:139.748318},
    map: map,
    icon: "https://i.scdn.co/image/ab67616d00004851ba5db46f4b838ef6027e6f96"
  });

  var onebox = '<div class="box">' + 
            '<p>2020年9月1日</p>' +
            '<p>Artist: Ed Sheeran</p>' +
            '<p>Truck: Shape of You </p>' +
              '<a href = "https://open.spotify.com/track/7qiZfU4dY1lWllzX7mPBI3" target="_blank">Open Spotify</a>' +
            '</div>'

  var infowindow = new google.maps.InfoWindow({
    content: onebox
  });

   //  // マーカークリック時に吹き出しを表示する（一つピンをたてるに対して）
   oneEvent();

   function oneEvent() {
     marker.addListener('click', function() {
       infowindow.open(map, marker);//複数の時とmakerの変数が違うから注意
     });
   }
// 一つピンを立てるここまで。


  // 複数ピンを立てる
  for (var i = 0; i < SongData.length; i++) {
  
    // マーカーの追加
    marker[i] = new google.maps.Marker({
      position: new google.maps.LatLng( SongData[i]['lat'], SongData[i]['lng']),
      map: map,
      icon: SongData[i]['image'],
    });

    // 吹き出しの内容（一つ立てるときみたいにHTMLにしたかったけれど変数がうまく使えなかったから保留）
    box = '<div class="box">' + 
    '<p>SongData[i]["date"]</p>' +
    '<p>Artist: SongData[i]["artist"]</p>' +
    '<p>Truck:SongData[i]["track"]</p>' +
      '<a href = SongData[i]["link"]>Open Spotify</a>' +
    '</div>'

    // 吹き出しの追加
    infoWindow[i] = new google.maps.InfoWindow({
    // 吹き出しに詳細を追加（ほんとはboxをはりつけたい。）
    content: 'Date' + SongData[i]["date"] + 'Artist' + SongData[i]["artist"] + 'Track' + SongData[i]["track"] +  'Spotify' + SongData[i]["link"]
    });

    markerEvent(i); 
  }

  // マーカークリック時に吹き出しを表示する（複数ピンに対して）
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]); //一つの時とmakerの変数が違うから注意
    });
  }
//  複数ピンをたてるここまで。


// 後からピンを追加できるようにする
  //mapをクリックしたときのイベントを設定
  google.maps.event.addListener(map, 'click', mylistener);
  //クリックしたときの処理
  function mylistener(event){
        //marker作成
        var marker = new google.maps.Marker();
        //markerの位置を設定
        //event.latLng.lat()でクリックしたところの緯度を取得
        marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
        //marker設置
        marker.setMap(map);
        // window表示して、今の楽曲取得して登録ボタンをつける。
        var registerbox = '<div class="box">' + 
            '<p>Spotifyで曲を再生してボタンを押してください</p>' +
              '<a href = "https://open.spotify.com/collection/tracks" target="_blank">お気に入りリストを開く</a>' +
              // 本当はここにボタンを起きたいけれど、idが認識されなくてonclickイベントが使えない。
            '</div>'

        var infowindow = new google.maps.InfoWindow({
          content: registerbox
          });
          infowindow.open(map, marker)

        // マーカーをダブルクリックで削除
        google.maps.event.addListener(marker, 'dblclick', deletelistener);
        function deletelistener(event){ 
        marker.setMap(null);
        }

        // 位置情報、日付をgetTrackに送る
        $("#adding").click(function() {
                    var lat = event.latLng.lat() ;
                    var lng = event.latLng.lng() ;
                    var date = document.getElementById("date").value;
                    var emotion = document.getElementById("emotion").value;
                    var comment = document.getElementById("comment").value;
                    $.ajax({
                      type:'POST',
                      url:'/getTrack',
                      data: {
                        "lat":lat,
                        "lng":lng,
                        "date":date,
                        "emotion":emotion,
                        "comment":comment,
                      },
                      dataType: 'text',
                    }).done(function(){
                      console.log("success");

                      // 将来的にはログインしているユーザーのプロフィール
                      // window.location.href = "/";
                      window.location.href = '/profile/1';
                    }).fail(function(){
                      console.log('failed');
                    });
      })
  }
}
  </script> 
{% endblock %}