{% extends "layout.html" %}

{% block title %}
  create memory emotion
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var Memory = {{ memory | safe }};
  </script>

  <script type="text/javascript" src="/static/js/createMemoryMap.js"></script>
{% endblock %}

{% block main %}
<form method="post" action="/create_memory/about">
  <div class="container">
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6">
        <input name="lat" value="{{ memory['lat'] }}" type="hidden">
        <input name="lng" value="{{ memory['lng'] }}" type="hidden">
        <input name="date" value="{{ memory['date'] }}" type="hidden">
        <input name="track_id" value="{{ memory['track_id'] }}" type="hidden">
        <div class="panel">感情を指定してください</div>
        <div class="form-emotion">
          <img src="../static/image/laugh.png" width="100" height="100">
          <input type="radio" name="emotion" value="嬉しい" >
          <label for="emotion">嬉しい</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/hehe.png" width="100" height="100">
          <input type="radio" name="emotion" value="楽しい" >
          <label for="emotion">楽しい</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/tere.png" width="100" height="100">
          <input type="radio" name="emotion" value="安心" >
          <label for="emotion">安心</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/jito.png" width="100" height="100">
          <input type="radio" name="emotion" value="退屈" >
          <label for="emotion">退屈</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/ase.png" width="100" height="100">
          <input type="radio" name="emotion" value="不安" >
          <label for="emotion">不安</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/angry.png" width="100" height="100">
          <input type="radio" name="emotion" value="イライラ" >
          <label for="emotion">イライラ</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/cry.png" width="100" height="100">
          <input type="radio" name="emotion" value="悲しい" >
          <label for="emotion">悲しい</label>
        </div>
        <div class="form-emotion">
          <img src="../static/image/odoroki.png" width="100" height="100">
          <input type="radio" name="emotion" value="驚き" >
          <label for="emotion">驚き</label>
        </div>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
</form>
{% endblock %}