{% extends "layout.html" %}

{% block title %}
  Edit
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var Lat = {{ lat | safe }};
    var Lng = {{ lng | safe }};
    var SongData = {{ Songdatas | safe }};
    var UserId = {{ user_id }};
  </script>

  <script type="text/javascript" src="/static/js/edit_map.js"></script>
{% endblock %}

{% block main %}
  <h1>Edit Pin </h1>
  <style>
    #map{
      height: 400px;
      width: 800px;
      margin: 0 auto;
    }
  </style>

  <a href="/map/all_pins">全てのユーザー</a>
  <a href="/map/current_pins">ログイン中のユーザー</a>

  <div id="map"></div>

  <div class = "edit_form">
    <input type="date" id="date" name="date" value = {{ Songdatas[0]["date"] }} min="2000-01-01" max="2021-12-31" required>
    <p>
      アーティスト名：{{Songdatas[0]["artist"]}}
    <p>
    <p>
      曲名：{{Songdatas[0]["track"]}}
    <p>
      <select name="emotion" id = "emotion"  required>
        {% if Songdatas[0]["emotion"] == "嬉しい" %}
          <option value="嬉しい" selected>嬉しい</option>
        {% else %}
          <option value="嬉しい">嬉しい</option>
        {% endif %}
        {% if Songdatas[0]["emotion"] == "楽しい" %}
          <option value="楽しい" selected>楽しい</option>
        {% else %}
          <option value="楽しい">楽しい</option>
        {% endif %}
        {% if Songdatas[0]["emotion"] == "落ち着き" %}
          <option value="落ち着き" selected>落ち着き</option>
        {% else %}
          <option value="落ち着き">落ち着き</option>
        {% endif %}
        {% if Songdatas[0]["emotion"] == "悲しい" %}
          <option value="悲しい" selected>悲しい</option>
        {% else %}
          <option value="悲しい">悲しい</option>
        {% endif %}
      </select>
    </p>
    <label for="comment"></label>
    <textarea id="comment" name="comment" placeholder="今の気持ち、出来事を任意で入力してください！" style="margin: 0px; width: 346px; height: 95px;" >{{Songdatas[0]["comment"]}}</textarea>
    <div>
      <input type="button" value="更新する" id = "update" >
    </div>
  </div>

  <script async defer src="{{GOOGLEMAPURL}}&callback=initMap"></script>
{% endblock %} 