{% extends "layout.html" %}

{% block title %}
  grouplist
{% endblock %}

{% block js %}
<script type="text/javascript">
  var group_info = {{ group_info | safe }};
  var groub_members_info = {{groub_members_info |safe }};
</script>

<script type="text/javascript" src="/static/js/createGroup.js"></script>

{% endblock %}

{% block main %}
<h1>group</h1>
<p>{{ group_info }}</p>
<div>
  <p id="name">{{group_info["name"]}} </p>
  <p id="group-id">{{group_info["id"]}}</p>
</div>

<h3>メンバー</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Nickname</th>
      <th>User name</th>
    </tr>
  </thead>
  <tbody>
    {% for groub_member_info in groub_members_info %}
    <tr data-href="{{ url_for('profile', display_user_id = groub_member_info['id'] ) }}">
      <td><i class="fas fa-user"></i></td>
      <td>{{ groub_member_info["nickname"]}}</td>
      <td>{{ groub_member_info["username"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<button id="create_group_table">作成する</button>

{% endblock %}