
{% extends "layout.html" %}

{% block title %}
  groups
{% endblock %}

{% block js %}
<script type="text/javascript">
  // var user_info = {{ user_info | safe }};
  // var following_user_info = {{following_user_info |safe }}
  // var followed_user_info = {{followed_user_info |safe }}
  var groups = {{ groups | safe }}
  var requests_groups = {{ requests_groups | safe }}
</script>

<script>
  jQuery(function($) {

  //data-hrefの属性を持つtrを選択しclassにclickableを付加
  $('tr[data-href]').addClass('clickable')

    //クリックイベント
    .click(function(e) {

      //e.targetはクリックした要素自体、それがa要素以外であれば
      if(!$(e.target).is('a')){
      
        //その要素の先祖要素で一番近いtrの
        //data-href属性の値に書かれているURLに遷移する
        window.location = $(e.target).closest('tr').data('href');}
  });
});
</script>

{% endblock %}

{% block main %}


<!-- けんじの参考に修正（まー） -->
<div class="table-responsive profile-latest-track-table">
  <!-- <form action="/makeplaylist" method="post"> -->
  
  <div class="profile-panel-latest-track">
    グループ一覧
  </div>
  <div class = "flex flex-row mx-auto">
    {% for d in groups %}
        <div class="profile-track-box" >
          <!-- <div class="profile-spotify-track">
            <iframe src="https://open.spotify.com/embed/track/{{ d['track_id'] }}" width="75" height="75" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          </div> -->

          <div class="profile-songlocation-info">
            <!-- <div class="profile-panel-track-name">
              <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["track"] }}</p>
            </div>
            <div class="profile-panel-artist-name">
              <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["artist"] }}</p>
            </div>
            <p style="margin: 0;">{{ d["user_nickname"] }}</p> -->
          <!-- <div class="profile-display-about">
            {{ d["about"] }}
            <a href="{{ url_for('show_song_location', songlocation_id = d['id'] ) }}" style="margin-left: 10px;">詳細</a>
          </div> -->
          </div>
        </div>
      {% endfor %}
  </div>
</div>

<div class="table-responsive profile-latest-track-table">
  <!-- <form action="/makeplaylist" method="post"> -->
  
  <div class="profile-panel-latest-track">
    招待一覧
  </div>
  <div class = "flex flex-row mx-auto">
    {% for d in requests_groups %}
        <div class="profile-track-box" >
          <!-- <div class="profile-spotify-track">
            <iframe src="https://open.spotify.com/embed/track/{{ d['track_id'] }}" width="75" height="75" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          </div> -->

          <div class="profile-songlocation-info">
            <!-- <div class="profile-panel-track-name">
              <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["track"] }}</p>
            </div>
            <div class="profile-panel-artist-name">
              <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["artist"] }}</p>
            </div>
            <p style="margin: 0;">{{ d["user_nickname"] }}</p> -->
          <!-- <div class="profile-display-about">
            {{ d["about"] }}
            <a href="{{ url_for('show_song_location', songlocation_id = d['id'] ) }}" style="margin-left: 10px;">詳細</a>
          </div> -->
          </div>
        </div>
      {% endfor %}
  </div>
</div>



<div style="text-align: center">
    <button onclick="location.href='create_group'" type="button" class="btn btn-primary">新規作成</button>
</div>
</div>
{% endblock %}