{% extends "layout.html" %}

{% block title %}
  grouplist
{% endblock %}

{% block js %}
<script type="text/javascript">
  var group_info = {{ group_info | safe }};
</script>

<script type="text/javascript" src="/static/js/createGroup.js"></script>

{% endblock %}

{% block main %}

<h1>{{group_info["name"]}}</h1>

<a href="{{group_info['id']}}/members">メンバー</a>

   <!-- 最近追加した曲リスト -->
   <div class="table-responsive index-latest-track-table">
    <!-- <form action="/makeplaylist" method="post"> -->
    <div class="index-panel-latest-track">最近の投稿</div>
      <div class = "flex flex-row mx-auto">
        {% for d in track_lists %}
            <div class="index-track-box" >
              <!-- <div class="index-spotify-track"> -->
                <iframe src="https://open.spotify.com/embed/track/{{ d['track_id'] }}" width="75" height="75" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
              <!-- </div> -->
              <div class="index-songlocation-info">
                <div class="panel-user-name">
                  <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["user_nickname"] }}</p>
                </div>
                <div class="panel-track-name">
                  <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["track"] }}</p>
                </div>
                <div class="panel-artist-name">
                  <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ d["artist"] }}</p>
                </div>
              {% if d['emotion'] == "嬉しい" %}
                <div class="index-display-emotion">
                  <img src="../static/image/laugh.png" width="50" height="50" >
                  <label for="emotion">嬉しい</label>
                </div>
              {% elif d['emotion'] == "楽しい" %}
                <div class="index-display-emotion">
                  <img src="../static/image/hehe.png" width="50" height="50">
                  <label for="emotion">楽しい</label>
                </div>
              {% elif d['emotion'] == "安心" %}
                <div class="index-display-emotion">
                  <img src="../static/image/tere.png" width="50" height="50">
                  <label for="emotion">安心</label>
                </div>
              {% elif d['emotion'] == "退屈" %}
                <div class="index-display-emotion">
                  <img src="../static/image/jito.png" width="50" height="50">
                  <label for="emotion">退屈</label>
                </div>
              {% elif d['emotion'] == "不安"%}
                <div class="index-display-emotion">
                  <img src="../static/image/ase.png" width="50" height="50">
                  <label for="emotion">不安</label>
                </div>
              {% elif d['emotion'] == "イライラ"%}
                <div class="index-display-emotion">
                  <img src="../static/image/angry.png" width="50" height="50">
                  <label for="emotion">イライラ</label>
                </div>
              {% elif d['emotion'] == "悲しい" %}
                <div class="index-display-emotion">
                  <img src="../static/image/cry.png" width="50" height="50">
                  <label for="emotion">悲しい</label>
                </div>
              {% elif d['emotion'] == "驚き" %}
                <div class="index-display-emotion">
                  <img src="../static/image/odoroki.png" width="50" height="50">
                  <label for="emotion">驚き</label>
                </div>
              {% endif  %}
              <div class="index-display-about">
                {{ d["about"] }}
                <a href="" style="margin-left: 10px">詳細</a>
              </div>
              <!-- {% if d["comment"] %}
                {{ d["comment"] }}
              {% else %}
                ---
              {% endif %} -->
              </div>
              <!-- <td></td> -->
            </div>
          {% endfor %}
      </div>
      <!-- <input style="display: block; margin: 10px auto;" class="" name="playlist_name" autocomplete="off" placeholder="プレイリスト名入力" type="type" >
      <button class="btn btn-primary" type="submit" style="display: block; margin: 0 auto;">作成する</button> -->
    <!-- </form> -->
    </div>

{% endblock %}