
{% extends "layout.html" %}

{% block title %}
  groups
{% endblock %}

{% block js %}
<script type="text/javascript">
  // var user_info = {{ user_info | safe }};
  // var following_user_info = {{following_user_info |safe }}
  // var followed_user_info = {{followed_user_info |safe }}
  var groups = {{ groups | safe }}
  var requests_groups = {{ requests_groups | safe }}
</script>

<script>
  jQuery(function($) {

  //data-hrefの属性を持つtrを選択しclassにclickableを付加
  $('tr[data-href]').addClass('clickable')

    //クリックイベント
    .click(function(e) {

      //e.targetはクリックした要素自体、それがa要素以外であれば
      if(!$(e.target).is('a')){
      
        //その要素の先祖要素で一番近いtrの
        //data-href属性の値に書かれているURLに遷移する
        window.location = $(e.target).closest('tr').data('href');}
  });
});
</script>

{% endblock %}

{% block main %}
<h1>groups</h1>

<!-- <div class="user-follow">
  <p id="nickname">{{user_info["nickname"]}} </p>
  <p id="user-id">(user_id is {{user_info["id"]}})</p>
</div> -->

<h3>グループ一覧</h3>
<!-- <p>{{ groups['name'] }}</p> -->
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>グループid</th>
      <th>グループ名</th>
    </tr>
  </thead>
  <tbody>
    {% for d in groups %}
    <tr data-href="{{ url_for('group_info', group_id = d['id'] ) }}">
      <td><i class="fas fa-user"></i></td>
      <td>{{ d["id"]}}</td>
      <td>{{ d["name"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>招待一覧</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>グループid</th>
      <th>グループ名</th>
    </tr>
  </thead>
  <tbody>
    {% for d in requests_groups %}
      <td><i class="fas fa-user"></i></td>
      <td>{{ d["id"]}}</td>
      <td>{{ d["name"]}}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/create_group">新規作成</a>

{% endblock %}