{% extends "layout.html" %}

{% block title %}
  Map
{% endblock %}

{% block main %}
  <h1>map</h1>
  <style>
    #map{
      height: 900px;
      width: 800px;
      margin: 0 auto;
    }
  </style>
    
  <div id="map"></div>
    
 <script async defer src="{{GOOGLEMAPURL}}&callback=initMap"></script>

  <script>
  
// 地図関連
let map;
let mainMarker;
let marker =[];
let infoWindow = [];


function initMap() {
  // DB代わりに配列を作成してデータを入れた。
  // let SongData = [];

  // var SongData = "{{ Songdatas | tojson }}";
  // 地図表示
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: {lat: 35.665498, lng: 139.75964}
  });

  var SongData = {{ Songdatas | safe }};

  // 一つだけピンを立てる
  var marker = new google.maps.Marker({
    position: {lat: 35.678655, lng:139.748318},
    map: map,
    icon: "https://i.scdn.co/image/ab67616d00004851ba5db46f4b838ef6027e6f96"
  });

  var onebox = '<div class="box">' + 
            '<p>2020年9月1日</p>' +
            '<p>Artist: Ed Sheeran</p>' +
            '<p>Truck: Shape of You </p>' +
              '<a href = "https://api.spotify.com/v1/tracks/7qiZfU4dY1lWllzX7mPBI3">Open Spotify</a>' +
            '</div>'

  var infowindow = new google.maps.InfoWindow({
    content: onebox
  });

   //  // マーカークリック時に吹き出しを表示する（一つピンをたてるに対して）
   oneEvent();

   function oneEvent() {
     marker.addListener('click', function() {
       infowindow.open(map, marker);//複数の時とmakerの変数が違うから注意
     });
   }
// 一つピンを立てるここまで。


  // 複数ピンを立てる
  for (var i = 0; i < SongData.length; i++) {
  
    // マーカーの追加
    marker[i] = new google.maps.Marker({
      position: new google.maps.LatLng( SongData[i]['lat'], SongData[i]['lng']),
      map: map,
      icon: SongData[i]['image'],
    });

    // 吹き出しの内容（一つ立てるときみたいにHTMLにしたかったけれど変数がうまく使えなかったから保留）
    box = '<div class="box">' + 
    '<p>SongData[i]["date"]</p>' +
    '<p>Artist: SongData[i]["artist"]</p>' +
    '<p>Truck:SongData[i]["track"]</p>' +
      '<a href = SongData[i]["link"]>Open Spotify</a>' +
    '</div>'

    // 吹き出しの追加
    infoWindow[i] = new google.maps.InfoWindow({
    // 吹き出しに詳細を追加（ほんとはboxをはりつけたい。）
    content: 'Date' + SongData[i]["date"] + 'Artist' + SongData[i]["artist"] + 'Track' + SongData[i]["track"] +  'Spotify' + SongData[i]["link"]
    });

    markerEvent(i); 
  }

  // マーカークリック時に吹き出しを表示する（複数ピンに対して）
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]); //一つの時とmakerの変数が違うから注意
    });
  }
//  複数ピンをたてるここまで。
}
  </script> 
{% endblock %}