{% extends "layout.html" %}

{% block title %}
  profile
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var SongData = {{ Songdatas | safe }};
    var UserId = {{ user_id | safe }};
    var UserInfo = {{ user_info | safe }};
  </script>

  <script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}

{% block main %}

<!-- ユーザー情報 -->
  <!-- <p >ログインユーザーID{{  user_id  }}</p> -->

  {% if user_info %}
    {% if user_info["following"] == "myself" %}
      <div class="nav_area">
        <a class="menu">
            <span class="menu__line menu__line--top"></span>
            <span class="menu__line menu__line--bottom"></span>
        </a>
        <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="/spotify-login">Spotify Log in</a></li>
                  <li class="gnav__menu__item"><a href="/logout">Log out</a></li>
              </ul>
          </div><!--gnav-wrap-->
        </nav>
        <div class="hero"></div>
      </div>
    {% endif %}
    <h1>{{  user_info["nickname"]  }}</h1>
    <p id = "display_user_id" style="visibility: hidden; height: 0px; margin: 0px;">{{  user_info["id"]  }}</p>
    <p>{{  user_info["username"]  }}</p>
    <!-- <p>{{  user_info["following"]  }}</p> -->
    <div id="follower">
      <p><a href="{{ url_for('display_follower', user_id = user_info['id'] ) }}"><span>{{ user_info["follow_number"] }}</span>フォロー </a><a href="{{ url_for('display_follower', user_id = user_info['id'] ) }}"><span>{{ user_info["followed_number"] }}</span> フォロワー</a></p>
      {% if user_info["following"] == "True" %}
        <button type="button" value="button" id = "cancell" >cancell</button>
      {% elif user_info["following"] == "False" %}
        <button type="button" value="button" id = "follow">follow</button>
      {% endif %}
    </div>


    <!-- プレイリスト作成 期間指定かどうかで分岐-->
    {% if nowdisplayfrom %}
    <form action="/profile/{{user_id}}/period/{{nowdisplayfrom}}/{{nowdisplayto}}" method="post">
    {% else %}
    <form action="/profile/{{user_id}}" method="post">
    {% endif %}
      <input type="hidden" name="playlistname" id="playlistname" value="プレイリスト名"> 
      <button class="btn btn-primary" type="submit">プレイリスト作成</button>
    </form>
    <button onclick="location.href='{{ url_for('profile', display_user_id = user_info['id'] ) }}'" class="btn btn-primary">プレイリスト一覧</button>

  {% endif %}
  
  <!-- 表示期間切替 -->  
    <!-- bootstrap-datepicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ja.min.js"></script>
  
    <div class="text-right">
    <button type="button" class="btn" data-toggle="modal" data-target="#modalForm" style="background: white;">
      <i class="fas fa-history  fa-2x"></i>
    </button>
    </div>

<!-- Modal の中身 -->
<div class="modal fade" id="modalForm" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal ヘッダー -->
      <div class="modal-header">
        　<h5 class="modal-title" id="Modal">表示するピンの期間を選択</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
        <!-- Modal ボディー -->
        <div class="modal-body">
          
        <div class="row">
          <div class="col-１２ mt-3">
      
            <div class="input-daterange " id="datepicker">
              <div class="input-group">
                <span class="input-group-text">開始日付</span>
            
              <input class="input-period" type="text" name="from" id="from"  value = "{{nowdisplayfrom}}" autocomplete="off">
            </div>

              <div class="input-group">
                <span class="input-group-text">終了日付</span>
              
              <input class ="input-period" type="text" name="to" id="to" value = "{{nowdisplayto}}" autocomplete="off">
            </div>
            </div>
      
          </div>
        </div>
      </div>
        
        <!-- Modal フッター -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
          </button>                       -->
          <button class="btn btn-primary" type="submit"  onClick="period();"> 指定期間表示</button>
          <button class="btn btn-primary" onclick="location.href='/profile/{{user_id}}'">全期間表示</button>
        </div>
      
    </div>
  </div>
</div>

  <div class="container">
    
  
  </div>

<script>
$('.input-daterange').datepicker({
  language:'ja',
  format: 'yyyy/mm/dd',
})
.on({
  changeDate: function() {
    // datepickerの日付を取得
    console.log('開始日付 :', $('input[name="from"]').val() );  // 開始日付を取得
    console.log('終了日付 :', $('input[name="to"]').val() );    // 終了日付を取得
  }
});
</script>
    <!--MAP表示  -->

  <div id="map" class="profile-map"></div>
  <script async defer src="{{GOOGLEMAPURL}}&callback=initMap"></script>

  


{% endblock %}