{% extends "layout.html" %}

{% block title %}
  profile
{% endblock %}

{% block main %}
  <h1>Profile</h1>

  <!-- ユーザー情報 -->
  <p>{{  user_info  }}</p>
    <!-- ログアウト -->
    <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
  <button>follow</button>
  <a href="/map/follow">follow</a>
  <a href="/map/follower">follower</a>
  
  <!-- ユーザーの表示切替 -->
  <a href="/map/all_pins">全てのユーザー</a>
  <a href="/map/current_pins">ログイン中のユーザー</a>

  <!-- 表示期間切替 -->  
  <!-- カレンダー html -->
    <!-- <div class="input-daterange input-group" id="datepicker">
      <div class="input-group-prepend">
        <span class="input-group-text">開始日付</span>
      </div>
      <input type="text" class="input-sm form-control" name="from" id="from" autocomplete="off">
    
      <div class="input-group-append">
        <span class="input-group-text">終了日付</span>
      </div>
      <input type="text" class="input-sm form-control" name="to" id="to" autocomplete="off">

      <button type="submit"  onClick="hoge();"> 期間表示</button>
    </div> -->

    <!--MAP表示  -->

  <div id="map"></div>
  <script async defer src="{{GOOGLEMAPURL}}&callback=initMap"></script>
  <style>
    #map{
      height: 900px;
      width: 800px;
      margin: 0 auto;
    }
  </style>

  <!-- 現在地取得 -->
  <div>
    <p>
      <select name="emotion" id = "emotion" size="4" required>
      <option value="嬉しい">嬉しい</option>
      <option value="楽しい">楽しい</option>
      <option value="落ち着き">落ち着き</option>
      <option value="悲しい">悲しい</option>
      </select>
    </p>

    <label for="comment"></label>
    <textarea id="comment" name="comment" placeholder="今の気持ち、出来事を任意で入力してください！" style="margin: 0px; width: 346px; height: 95px;"></textarea>
    <button type="button" value="button" id = "location" >位置・曲情報取得</button>
</div>

<div id="return"></div>

<!-- addingのボタン -->
<li class="nav-item"><a class="nav-link" href="/adding">adding</a></li>

<!-- ここからJS -->

<!-- 現在地取得 -->
<script>
    $(document).ready(function () {
      $("#location").click(function() {
        if( navigator.geolocation )
          {
            // 現在地を取得
            navigator.geolocation.getCurrentPosition(
              // [第1引数] 取得に成功した場合の関数
              function( position )
              {
                // 取得したデータの整理
                var data = position.coords ;
                // データの整理
                var lat = data.latitude ;
                var lng = data.longitude ;
                var emotion = document.getElementById("emotion").value;
                var comment = document.getElementById("comment").value;
                $.ajax({
                  type:'POST',
                  url:'/getTrack',
                  data: {
                    "lat":lat,
                    "lng":lng,
                    "emotion":emotion,
                    "comment":comment,
                  },
                  dataType: 'text',
                }).done(function(){
                  console.log("success");
                  window.location.href = '/profile';
                }).fail(function(){
                  console.log('failed');
                });
              },
              // [第2引数] 取得に失敗した場合の関数
              function( error )
              {
                // エラー番号に対応したメッセージ
                var errorInfo = [
                  "原因不明のエラーが発生しました…。" ,
                  "位置情報の取得が許可されませんでした…。" ,
                  "電波状況などで位置情報が取得できませんでした…。" ,
                  "位置情報の取得に時間がかかり過ぎてタイムアウトしました…。"
                ] ;
                // エラー番号
                var errorNo = error.code ;
                // エラーメッセージ
                var errorMessage = "[エラー番号: " + errorNo + "]\n" + errorInfo[ errorNo ] ;
                // アラート表示
                alert( errorMessage ) ;
                // HTMLに書き出し
                document.getElementById("result").innerHTML = errorMessage;
              } ,
              // [第3引数] オプション
              {
                "enableHighAccuracy": false,
                "timeout": 8000,
                "maximumAge": 2000,
              }
            ) ;
          }
      });
    });
    
    </script>

<!-- 表示期間切り替え -->
  <script>
// // カレンダー bootstrap-datepickerの設定
// $('.input-daterange').datepicker({
//   // オプションを設定
//   language:'ja', // 日本語化
//   format: 'yyyy/mm/dd', // 日付表示をyyyy/mm/ddにフォーマット
// });  

// $('.input-daterange').datepicker({
//   language:'ja',
//   format: 'yyyy/mm/dd',
// })
// .on({
//   changeDate: function() {
//     // datepickerの日付を取得
//     console.log('開始日付 :', $('input[name="from"]').val() );  // 開始日付を取得
//     console.log('終了日付 :', $('input[name="to"]').val() );    // 終了日付を取得
//   }
// });



// function hoge(){
//     var url = "/map/period/";
//     let from = document.getElementById('from').value;
// let newfrom = from.replace(/\//g,"-"); 

// let to = document.getElementById('to').value;
// let newtill = to.replace(/\//g,"-"); 
    
//     if( document.getElementById('from').value ){

//     url += newfrom;
//     }
//     if( document.getElementById('to').value ){
//     url += '/' + newtill;
//     }
//     location.href = url;
//     }




// 地図関連
let map;
let mainMarker;
let marker =[];
let infoWindow = [];


function initMap() {
  // DB代わりに配列を作成してデータを入れた。
  // let SongData = [];

  // var SongData = "{{ Songdatas | tojson }}";
  // 地図表示
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: {lat: 35.665498, lng: 139.75964}
  });

  var SongData = {{ Songdatas | safe }};
  console.log(SongData);

  // 一つだけピンを立てる
  var marker = new google.maps.Marker({
    position: {lat: 35.678655, lng:139.748318},
    map: map,
    icon: "https://i.scdn.co/image/ab67616d00004851ba5db46f4b838ef6027e6f96"
  });

  var onebox = '<div class="box">' + 
            '<p>2020年9月1日</p>' +
            '<p>Artist: Ed Sheeran</p>' +
            '<p>Truck: Shape of You </p>' +
              '<a href = "https://api.spotify.com/v1/tracks/7qiZfU4dY1lWllzX7mPBI3">Open Spotify</a>' +
            '</div>'

  var infowindow = new google.maps.InfoWindow({
    content: onebox
  });

   //  // マーカークリック時に吹き出しを表示する（一つピンをたてるに対して）
  oneEvent();

  function oneEvent() {
    marker.addListener('click', function() {
      infowindow.open(map, marker);//複数の時とmakerの変数が違うから注意
    });
  }
// 一つピンを立てるここまで。


  // 複数ピンを立てる
  for (var i = 0; i < SongData.length; i++) {
  
    // マーカーの追加
    marker[i] = new google.maps.Marker({
      position: new google.maps.LatLng( SongData[i]['lat'], SongData[i]['lng']),
      map: map,
      icon: SongData[i]['image'],
    });

    // 吹き出し作成
    var box_node = document.createElement('div');
    var p_node_date = document.createElement('p');
    var text_node_date = document.createTextNode(SongData[i]["date"]);
    p_node_date.appendChild(text_node_date);
    box_node.appendChild(p_node_date);

    var p_node_artist = document.createElement('p');
    var text_node_artist = document.createTextNode("Artist：" + SongData[i]["artist"]);
    p_node_artist.appendChild(text_node_artist);
    box_node.appendChild(p_node_artist);

    var p_node_track = document.createElement('p');
    var text_node_track = document.createTextNode("曲名：" + SongData[i]["track"]);
    p_node_track.appendChild(text_node_track);
    box_node.appendChild(p_node_track);

    var p_node_emotion = document.createElement('p');
    var text_node_emotion = document.createTextNode("感情：" + SongData[i]["emotion"]);
    p_node_emotion.appendChild(text_node_emotion);
    box_node.appendChild(p_node_emotion);

    var p_node_comment = document.createElement('p');
    var text_node_comment = document.createTextNode("コメント：" + SongData[i]["comment"]);
    p_node_comment.appendChild(text_node_comment);
    box_node.appendChild(p_node_comment);

    var p_node_spotify = document.createElement("p");
    var a_node_spotify = document.createElement("a");
    a_node_spotify.href = SongData[i]["link"];
    var text_node_spotify = document.createTextNode("Open Spotify");
    a_node_spotify.appendChild(text_node_spotify);
    p_node_spotify.appendChild(a_node_spotify);
    box_node.appendChild(p_node_spotify);

    // 自分の作ったピンしか編集ボタンを表示しない
    var UserId = {{ user_id | safe }};
    console.log(UserId)
    if (UserId == SongData[i]["user_id"]){
      console.log(SongData[i]["id"] )
      var a_node_edit = document.createElement("a");
      a_node_edit.href = "/map/" + SongData[i]["id"] + "/edit";
      var text_node_edit = document.createTextNode("編集");
      a_node_edit.appendChild(text_node_edit);
      box_node.appendChild(a_node_edit);
    }

    // 吹き出しの追加
    infoWindow[i] = new google.maps.InfoWindow({
    // 吹き出しに詳細を追加（ほんとはboxをはりつけたい。）
    content: box_node
    });

    markerEvent(i); 
  }

  // マーカークリック時に吹き出しを表示する（複数ピンに対して）
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]); //一つの時とmakerの変数が違うから注意
    });
  }
//  複数ピンをたてるここまで。
}
  </script> 
{% endblock %}