{% extends "layout.html" %}

{% block title %}
    search
{% endblock %}

{% block main %}
    
<h1>search</h1>

{% for artist in artistslist %}
<tbody>
    <tr >
        <input type="text" name="from" id="artist"  value = "{{ artist.artistname }}" autocomplete="off">
        <td>{{ artist.artistname }}</td>
        <button type="submit"  onClick="search();"> 決定</button>
        <script>
     

        function search(){
            var url = "/search/";
            let from = document.getElementById('artist').value;
            // let newfrom = from.replace(/\(/g,"").replace(/\)/g,"").replace(/'/g,"").replace(/ /g, ' ');
            let newfrom = from
            console.log(newfrom)
        
        // let to = document.getElementById('to').value;
        // let newtill = to.replace(/\//g,"-"); 
            
            if( document.getElementById('artist').value ){
        
            url += encodeURI(newfrom) ;
            }
            // if( document.getElementById('to').value ){
            // url += '/' + newtill;
            // }
            location.href = url;
            }
        </script>
    </tr>
</tbody>
{% endfor %}

<!-- <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/profile">profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/search">search</a></li>
  </ul> -->

  <!-- /profile/<display_user_id>', このdisplayuseridにそのユーザのidをいれたurlをボタンにいれれたらよい。 -->

{% endblock %}