{% extends "layout.html" %}

{% block title %}
Map
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var SongData = {{ Songdatas | safe }};
    var UserId = {{ user_id | safe }};
  </script>

  <script type="text/javascript" src="/static/js/select_location.js"></script>
{% endblock %}

{% block main %}
<div class="select-location" >
  <p>select location</p>
</div>
<div class="text-right">
  <a type="button" class="btn btn-secondary m-3" href="/current_location" style="color: white;">current location</a>
</div>
<div id="map" class="select-location-map"></div>

<div class="container">
  <div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <select class="location-emotion-form" name="emotion" id = "emotion" required>
        <option value=""><p>感情を選んでください</p></option>
        <option value="嬉しい">嬉しい</option>
        <option value="楽しい">楽しい</option>
        <option value="落ち着き">落ち着き</option>
        <option value="悲しい">悲しい</option>
      </select>
      <textarea class="location-comment-form" id="comment" name="comment" placeholder="今の気持ち、出来事を任意で入力してください！"></textarea>
      <input class="select-location-date-form" type="date" id="date" name="date" value="2018-07-22" min="2000-01-01" max="2021-12-31" required>
      <input type="radio" id="public" name="pin_status" value="public" checked>
      <label for="public">公開</label>
      <input type="radio" id="private" name="pin_status" value="private">
      <label for="private">非公開</label>
      <input class="location-submit-button" type="button" value="この場所に曲を追加する" id = "adding" >
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>

  <script async defer src="{{GOOGLEMAPURL}}&callback=initMap"></script>
{% endblock %}